<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>11851365903-mv0ft3lpqt0h6n5i8cvqr5mi9ds3b9bj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11851365903-mv0ft3lpqt0h6n5i8cvqr5mi9ds3b9bj</string>
	<key>API_KEY</key>
	<string>AIzaSyCRRPzd5CLWfygd__DWY1DL_r6r2xBt8Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>11851365903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>firebaseexample.studyFirebase</string>
	<key>PROJECT_ID</key>
	<string>baby-8740f</string>
	<key>STORAGE_BUCKET</key>
	<string>baby-8740f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11851365903:ios:ae52373a79182964</string>
	<key>DATABASE_URL</key>
	<string>https://baby-8740f.firebaseio.com</string>
</dict>
</plist>